* {
  font-family: "museo-100", Helvetica, sans-serif;
  padding:0;
  margin:0;
  font-size: .95rem;
}

site-wrapper {
  background-color: rgb(236, 236, 236);
  display: block;
  margin-top: 4rem;
  padding: 2.5rem 0;
}

p {
  margin: .35rem 0;
  word-break: break-all;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.25rem;
  margin: 2rem 0;
}

.loading {
  text-align: center;
  font-size: 1.25rem;
  margin: 2rem 0;
}